

#breadDiv .comma::after {
  content: ",";
  display: inline-block;
  margin-right: 3px;
  font-size: 30px;
}

#breadDiv .bread_container ul li a:hover {
  -webkit-text-stroke: 1px #000 !important;
  color: #fff !important;
	text-decoration: none !important;
}

#breadDiv li {
  list-style: none;
  display: inline-block;
}
#breadDiv a {
  text-decoration: none;
  display: inline-block;
  outline: none;
  color: black;
  font-size: 28px;
  font-weight: bold;
  z-index: 1;
}

#breadDiv .bread_container h3 {
  font-size: 36px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  color: white;
  -webkit-text-stroke: 1px #000;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
}

#breadDiv .bread_container ul {
  margin: 0 25px;
  text-align: left;
  width: 60%;
  display: block;

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#breadDiv .bread_container {
  margin: 50px ;
}

#breadDiv #breadImg{
	display:none;
	height:50vh;
	float: right;
	position:fixed;
	right:0;
	padding-right:50px;
	margin-top:100px;
	z-index: -1;
}
