

#secretDiv {
  width: 70%;
  margin: 200px auto;
}

#secretDiv a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-size: 11pt;
  font-weight: bold;
}
#secretDiv label {
  color: gray;
  font-size: 10pt;
  font-weight: bold;
}

#secretDiv input {
  margin-bottom: 20px;
}
